In [1]:
name="Jagadeesh"
Name="King"
print(name)
print(Name)

print(type)
print(type(name))

Jagadeesh
King
<class 'type'>
<class 'str'>

In [2]:
a=10
b=20
print(a!=b)

str1="Hello"

str2="Hello"

print(str1!=str2)

True
False

In [ ]:
a=10
b=20
add=a+b
print(add)



sub=a-b;
print(sub)

multi=a*b
print(multi)

div=a/b
print(div)

rem=a%b
print(rem)

30
-10
200
0.5
10

In [2]:
a=10
b=20
print(a!=b)

True

In [2]:
variable="python"
print(variable)
print(type(variable))
variable=34
print(variable)
print(type(variable))

python
<class 'str'>
34
<class 'int'>

In [3]:
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))

operator=input("Eter the operator(+,-,*,/,//,%) :")

if operator=='+':
    print(num1+num2)
elif operator=='-':
    print(num1-num2)
elif operator=='*':
    print(num1*num2)
elif operator=='/':
    print(num1/num2)
elif operator=='//':
    print(num1//num2)
elif operator=='%':
    print(num1%num2)
else :
    print("Wrong operator")

156

In [3]:
age =32
height=5.6
name="Reddy"
is_student =True

print("age :",age)
print("height :",height)
print("name : ",name)
print("is_student :" ,is_student)


print(type(age))

print(type(height))

print(type(name))

print(type(is_student))

age : 32
height : 5.6
name :  Reddy
is_student : True
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [7]:
age=input("Enter the age :")
print(type(age))

age=23

print(type(age))

<class 'str'>
<class 'int'>

In [1]:
num1=int(input("Enter the first number :"))
num2=int(input("Ennter the second number :"))
add=num1+num2
sub=num1-num2
mul=num1*num2
div=num1/num2
floor=num1//num2


print("Floor :",floor);
print("Addition :",add);
print("Subtraction :",sub);
print("Multiplication :",mul);
print("Division :",div);

Floor : 2
Addition : 15
Subtraction : 5
Multiplication : 50
Division : 2.0

In [4]:
age =32
if age >30:
    print(age)

print(age)

32
32

In [4]:
a=1+2+3+4+5+\
6+7+8+9;

print(a)

45

In [14]:
x="Hello" +str(5)
print(x)

Hello5