In [1]:
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [3]:
dict1={x:x**2 for x in range(10) if x%2!=0}
print(dict1)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [10]:
students={"Jagadeeswar":25,"Profession":"Software Engineer","City":"Hyderabad"}

for key,values in students.items():
    print(f'{key} = {values}')

Jagadeeswar = 25
Profession = Software Engineer
City = Hyderabad

In [ ]:
print(students["Jagadeeswar"])

print(students.get("Profession"))

print(students["City"])

25
None
Hyderabad

In [13]:
del students["Jagadeeswar"]

In [16]:
print(students)

students["name"]="Jagadeeswar"
print(students)

{'Profession': 'Software Engineer', 'City': 'Hyderabad', 'name': 'Jagadeeswar'}
{'Profession': 'Software Engineer', 'City': 'Hyderabad', 'name': 'Jagadeeswar'}

In [17]:
keys=students.keys()
print(keys)

values=students.values()
print(values)

items=students.items()
print(items)

dict_keys(['Profession', 'City', 'name'])
dict_values(['Software Engineer', 'Hyderabad', 'Jagadeeswar'])
dict_items([('Profession', 'Software Engineer'), ('City', 'Hyderabad'), ('name', 'Jagadeeswar')])

In [18]:
for values in students.values():
    print(values)

Software Engineer
Hyderabad
Jagadeeswar

In [21]:
student_copy=students.copy()
print(student_copy)
student_copy["name"]="Reddy"
print(student_copy)

student_copy1=students.copy()
print(student_copy1)

{'Profession': 'Software Engineer', 'City': 'Hyderabad', 'name': 'Jagadeeswar'}
{'Profession': 'Software Engineer', 'City': 'Hyderabad', 'name': 'Reddy'}
{'Profession': 'Software Engineer', 'City': 'Hyderabad', 'name': 'Jagadeeswar'}

In [23]:
students.clear()
print(students)

{}

In [36]:
students={
    "students1":{"name":"Jagadeeswar Reddy","age":25,"profession":"software engineer"},
    "students2":{"name":"Reddy","age":30,"profession":"Associate software engineer"}
}

print(students)
print(type(students))

{'students1': {'name': 'Jagadeeswar Reddy', 'age': 25, 'profession': 'software engineer'}, 'students2': {'name': 'Reddy', 'age': 30, 'profession': 'Associate software engineer'}}
<class 'dict'>

In [38]:
for student,students_info in students.items():
    print(f'{student} = {students_info}')
    for key,values in students_info.items():
        print(f'{key} = {values}')

students1 = {'name': 'Jagadeeswar Reddy', 'age': 25, 'profession': 'software engineer'}
name = Jagadeeswar Reddy
age = 25
profession = software engineer
students2 = {'name': 'Reddy', 'age': 30, 'profession': 'Associate software engineer'}
name = Reddy
age = 30
profession = Associate software engineer

In [39]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,1,1,2,3,2,3,4,5,6,7,8]

freq={}
for number in numbers:
    if number in freq:
        freq[number]+=1
    else:
        freq[number]=1

In [41]:
dict1={'a':1,"b":2}
dict2={'c':3,"d":4,"b":3}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 3, 'd': 4}

In [40]:
print(freq)

{1: 3, 2: 3, 3: 3, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 1, 10: 1, 11: 1}