In [1]:
list=[]

type(list)

list

In [9]:
names=["jagdeswar",1,3,False,91.8,True, "reddy",7+9j]

print(names)

names[1]=7890

print(names)

# names[1:]="Jagadeeswar Reddy"

# print(names)

names.append("python")

print(names)

['jagdeswar', 1, 3, False, 91.8, True, 'reddy', (7+9j)]
['jagdeswar', 7890, 3, False, 91.8, True, 'reddy', (7+9j)]
['jagdeswar', 7890, 3, False, 91.8, True, 'reddy', (7+9j), 'python']

In [ ]:
print(names[0])
print(names[-1])
print(names[2])
print(names[5])

jagdeswar
python
3
True

In [ ]:
print(names[1:])

print(names[-1:])

print(names[::-1])

print(names[::])

[7890, 3, False, 91.8, True, 'reddy', (7+9j), 'python']
['python']
['python', (7+9j), 'reddy', True, 91.8, False, 3, 7890, 'jagdeswar']
['jagdeswar', 7890, 3, False, 91.8, True, 'reddy', (7+9j), 'python']
[7890, 3, False, 91.8, True, 'reddy', (7+9j), 'python']

In [18]:
names.insert(1,"Raju")

print(names)

['jagdeswar', 'Raju', 7890, 3, False, 91.8, True, 'reddy', (7+9j), 'python']

In [19]:
names.remove("Raju")
print(names)

['jagdeswar', 7890, 3, False, 91.8, True, 'reddy', (7+9j), 'python']

In [20]:
pop_fruits=names.pop()
print(pop_fruits)

python

In [21]:
index=names.index("jagdeswar")
print(index)

0

In [30]:
fruits=["banana","Apple","mango","banana","Apple"]
fruits.append("orange")
fruits.sort();
print(fruits)

count=fruits.count("banana")
print(count)

['Apple', 'Apple', 'banana', 'banana', 'mango', 'orange']
2

In [ ]:
fruits.reverse()
print(fruits)

['orange', 'mango', 'banana', 'banana', 'Apple', 'Apple']

In [ ]:
# fruits.clear()
# print(fruits);

[]

In [31]:
print(fruits)

['Apple', 'Apple', 'banana', 'banana', 'mango', 'orange']

In [40]:
numbers=[1,2,3,4,5,6,7,8,9,10]

print(numbers[1:3]) # [2, 3]

print(numbers[1:5]) # [2, 3, 4, 5]

print(numbers[6:])

print(numbers[::-1])

print(numbers[::3])

print(numbers[::-2])

print(numbers[::-3])

[2, 3]
[2, 3, 4, 5]
[7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 4, 7, 10]
[10, 8, 6, 4, 2]
[10, 7, 4, 1]

In [41]:
for i in numbers:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [47]:
for index,number in enumerate(numbers):
    print("index :",index," -> ",number)

index : 0  ->  1
index : 1  ->  2
index : 2  ->  3
index : 3  ->  4
index : 4  ->  5
index : 5  ->  6
index : 6  ->  7
index : 7  ->  8
index : 8  ->  9
index : 9  ->  10