In [1]:
list=[]

type(list)

list

In [9]:
names=["jagdeswar",1,3,False,91.8,True, "reddy",7+9j]

print(names)

names[1]=7890

print(names)

# names[1:]="Jagadeeswar Reddy"

# print(names)

names.append("python")

print(names)

['jagdeswar', 1, 3, False, 91.8, True, 'reddy', (7+9j)]
['jagdeswar', 7890, 3, False, 91.8, True, 'reddy', (7+9j)]
['jagdeswar', 7890, 3, False, 91.8, True, 'reddy', (7+9j), 'python']

In [ ]:
print(names[0])
print(names[-1])
print(names[2])
print(names[5])

jagdeswar
python
3
True

In [ ]:
print(names[1:])

print(names[-1:])

print(names[::-1])

print(names[::])

[7890, 3, False, 91.8, True, 'reddy', (7+9j), 'python']
['python']
['python', (7+9j), 'reddy', True, 91.8, False, 3, 7890, 'jagdeswar']
['jagdeswar', 7890, 3, False, 91.8, True, 'reddy', (7+9j), 'python']
[7890, 3, False, 91.8, True, 'reddy', (7+9j), 'python']

In [18]:
names.insert(1,"Raju")

print(names)

['jagdeswar', 'Raju', 7890, 3, False, 91.8, True, 'reddy', (7+9j), 'python']

In [19]:
names.remove("Raju")
print(names)

['jagdeswar', 7890, 3, False, 91.8, True, 'reddy', (7+9j), 'python']

In [20]:
pop_fruits=names.pop()
print(pop_fruits)

python

In [21]:
index=names.index("jagdeswar")
print(index)

0

In [30]:
fruits=["banana","Apple","mango","banana","Apple"]
fruits.append("orange")
fruits.sort();
print(fruits)

count=fruits.count("banana")
print(count)

['Apple', 'Apple', 'banana', 'banana', 'mango', 'orange']
2

In [ ]:
fruits.reverse()
print(fruits)

['orange', 'mango', 'banana', 'banana', 'Apple', 'Apple']

In [ ]:
# fruits.clear()
# print(fruits);

[]

In [31]:
print(fruits)

['Apple', 'Apple', 'banana', 'banana', 'mango', 'orange']

In [40]:
numbers=[1,2,3,4,5,6,7,8,9,10]

print(numbers[1:3]) # [2, 3]

print(numbers[1:5]) # [2, 3, 4, 5]

print(numbers[6:])

print(numbers[::-1])

print(numbers[::3])

print(numbers[::-2])

print(numbers[::-3])

[2, 3]
[2, 3, 4, 5]
[7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 4, 7, 10]
[10, 8, 6, 4, 2]
[10, 7, 4, 1]

In [41]:
for i in numbers:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [47]:
for index,number in enumerate(numbers):
    print("index :",index," -> ",number)

index : 0  ->  1
index : 1  ->  2
index : 2  ->  3
index : 3  ->  4
index : 4  ->  5
index : 5  ->  6
index : 6  ->  7
index : 7  ->  8
index : 8  ->  9
index : 9  ->  10

In [ ]:
lst=[]
for num in range(0,11):
    lst.append(num**2);
    
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [57]:
square=[i**2 for i in range(0,10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [62]:
even_numbers= [  num for num in range(10) if num%2==0  ]
print(even_numbers)

[0, 2, 4, 6, 8]

In [63]:
list1=[1,2,3,4]
list2=['a','b','c','d']

pair=[[i,j] for i in list1 for j in list2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [65]:
print(fruits)

length=[len(fruit) for fruit in fruits]

print(length)

['Apple', 'Apple', 'banana', 'banana', 'mango', 'orange']
[5, 5, 6, 6, 5, 6]

In [4]:
names=["Jaggu","Prabhas","Hruday"]
for i in names:
    print(names)
for i in range(len(names)):
    print(names[i])
print("Jagadeeshwar Reddy")

['Jaggu', 'Prabhas', 'Hruday']
['Jaggu', 'Prabhas', 'Hruday']
['Jaggu', 'Prabhas', 'Hruday']
Jaggu
Prabhas
Hruday
Jagadeeshwar Reddy

In [4]:
lst=[]
for i in range(1,11):
    lst.append(i)

print(lst)
print(lst[1:5])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 4, 5]

In [6]:
print(lst[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
to_do_list=['Buy groceries',"clean the house","pay bills"]
print(to_do_list)

to_do_list.append("to go you")
to_do_list.remove("clean the house")

print(to_do_list)

for task in to_do_list:
    print(f'{task}')

['Buy groceries', 'clean the house', 'pay bills']
['Buy groceries', 'pay bills', 'to go you']
Buy groceries
pay bills
to go you

In [ ]:
numbers=[95,85,79,88,99,100,101]
average=sum(numbers)/len(numbers)

print(average)

mx=max(numbers)
print("Maximum value :",mx)
mn=min(numbers)
print("Minimum value :",mn)

92.42857142857143
101
79

In [11]:
feedback=["Great service","Good quality","Super experience","Great Food"]

positive_feedback=sum(1 for comment in feedback if "great" in comment.lower() or "good" in comment.lower())
print(positive_feedback)

for comment in feedback:
    print(comment)

3
Great service
Good quality
Super experience
Great Food