In [2]:
empty_tuple=()
print(empty_tuple)

print(type(empty_tuple))

()
<class 'tuple'>

In [5]:
lst=list()

print(lst)
print(type(lst))

tp=tuple()

print(tp)
print(type(tp))

[]
<class 'list'>
()
<class 'tuple'>

In [ ]:
numbers=tuple([1,4,7,8,10,12,1417])
numbers

(1, 4, 7, 8, 10, 12, 1417)

In [ ]:
numbers[0]

# numbers[1]="Jagadeswar" # tuples are immutable, we cannot modity the elements . This will give an error.

TypeError: 'tuple' object does not support item assignment

In [11]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [12]:
mixed_tuple=(1,"Jagadeeswar",3.14,True)
mixed_tuple

(1, 'Jagadeeswar', 3.14, True)

In [18]:
print(numbers[-1])
print(numbers[::-1])

print(len(numbers))

print(10 in numbers)

print(numbers[0:4])

1417
(1417, 12, 10, 8, 7, 4, 1)
7
True
(1, 4, 7, 8)

In [20]:
contacted_tuple =numbers+mixed_tuple

contacted_tuple

(1, 4, 7, 8, 10, 12, 1417, 1, 'Jagadeeswar', 3.14, True)

In [22]:
mixed_tuple*2

(1, 'Jagadeeswar', 3.14, True, 1, 'Jagadeeswar', 3.14, True)

In [24]:
list=[1,2,3,4,5,6,7,8,9,10]

list[0]="Jagadeeswar"

list

['Jagadeeswar', 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
print(numbers)
print(numbers.count(10))
print(numbers.index(10))

(1, 4, 7, 8, 10, 12, 1417)
1
4

In [29]:
packed_tuple=1,2,3,4
packed_tuple

(1, 2, 3, 4)

In [31]:
a,b,c,d=packed_tuple
a,b,c,d

(1, 2, 3, 4)

In [32]:
numbers=(1,2,3,4,5,6,6,7,9,10)
a,*middle,b=numbers

a,middle,b

(1, [2, 3, 4, 5, 6, 6, 7, 9], 10)