In [4]:
def greet(parameters):
    return expression

In [5]:
num=10
if num%2==0:
    print("Even...")
else:
    print("Odd...")

Even...

In [6]:
def findEvenOrOdd(num):
    if(num%2==0):
        return "Even..."
    else:
        return "Odd..."
    
result=findEvenOrOdd(200)
print(result)

Even...

In [ ]:
def addition(a,b):
    return a+b

add=addition(10,20)
print(result)

30

In [11]:
def greet(name):
    print(f"Hello ,{name} Welcome to Paradise ")

greet("Jagadeeswar")

Hello ,Jagadeeswar Welcome to Paradise

In [12]:
greet("King")

Hello ,King Welcome to Paradise

In [15]:
def print_numbers(*args):
    for i in args:
        print(i)
print_numbers(1,2,3,4,5,7,8,9,10,"Krishna")

1
2
3
4
5
7
8
9
10
Krishna

In [18]:
print_numbers(8,9,10,"Krishna")

8
9
10
Krishna

In [19]:
def print_key_value(**kwargs):
    for key,value in kwargs.items():
        print(f"{key} :{value}")

print_key_value(name="Jagadeeswar",age=30,city="Hyderabad",country="India")

name :Jagadeeswar
age :30
city :Hyderabad
country :India

In [22]:
def print_details(*args,**kwargs):
    for i in args:
        print(i)

    for key,value in kwargs.items():
        print(f"{key} :{value}")

print_details(1,2,3,name="Jagadeeswar",age=30,city="Hyderabad")

1
2
3
name :Jagadeeswar
age :30
city :Hyderabad

In [23]:
print_details(1,2,3,name="Jagadeeswar",age=30,city="Hyderabad",country="India")

1
2
3
name :Jagadeeswar
age :30
city :Hyderabad
country :India

In [24]:
def multiply(a,b):
    return a*b,a

print(multiply(10,20))

(200, 10)